<div class="display">
<article class="post">
    <div class="new">
        <p>Make: <span> {{ make }}</span></p>
        <p>Model: <span> {{ model }}</span></p>
        <p>Price: <span> {{ price }}</span></p>
        <p>Type: <span> {{ type }}</span></p>
            {{user.username}}  {{ created_at}}
    </div>
</article>
</div>