<article class="post">
                <div class="make">
                  <p>Make:</p>
                  <span>{{ make }}</span>
                </div>
                <div class="model">
                    <p>Model:</p>
                    <span>{{ model }}</span>
                </div>
                <div class="price">
                    <p>Price:</p>
                    <span>{{ price }}</span>
                </div>
                <div class="type">
                    <p>Type:</p>
                    <span>{{ type }}</span>
                </div>
                <div class="meta">
                    {{user.username}} on {{ created_at}}
                  </div>
              </article>